/* Helper classes */
.a-read {
    color: #32cd32;
}

/* Drag And Drop */

.item {
    background-color: #adff2f;
    display: block;
    height: 70px;
    width: 70px;
    margin:  0 7px 7px 0
}


#source1, #target1 {
    width: 100%;
    min-height: 100px;
}

#source1 {
    border: solid 2px #fff;
    padding: 7px;
}

.source-dragenter {
    background-color: lightgreen;
    border-color: green;
}


#target1 {
    border:  solid 2px darkblue;
    background-color: #add8e6;
    padding: 7px;
}

#target1.draggingover {
    background-color: #ffa07a;
}